@import "tailwindcss";

@theme {
  --font-sans: "Space Mono", monospace;
  --color-black: #0A0A0A;
  --color-white: #F9F9F9;

  --animate-updown: updown 3.5s ease-in-out infinite;

  @keyframes updown {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(2.5rem);
    }
  }
}


html,
body {
  @apply bg-white dark:bg-black dark:text-white dark:border-white;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  margin-inline: 0;
  padding-inline: 1rem;

  @variant sm {
    margin-inline: 0;
    padding-inline: 1rem;
    width: 100%;
  }

  @variant md {
    margin-inline: 0;
    padding-inline: 2rem;
    width: 100%;
  }

  @variant lg {
    margin-inline: auto;
    padding-inline: 0;
  }

  @variant xl {
    margin-inline: auto;
    padding-inline: 0;
  }

  @variant 2xl {
    margin-inline: auto;
    padding-inline: 0;
  }
}